<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    
    <add name="DatabaseConnectionString1" connectionString="Data Source=mssql2.unoeuro.com;Initial Catalog=clbnet_dk_db;User ID=DB-USERNAME;Password=DB-PASSWORD" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
      <httpRuntime requestValidationMode="2.0" />
  </system.web>
   
</configuration>