<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />

        <!-- 3. Custom errors-->
        <customErrors mode="On">
            <error statusCode="404" redirect="oops.aspx?type=404"/>
            <!--<error statusCode="403" redirect="oops.aspx?type=403"/>-->
        </customErrors>

        <!-- 5. Filestørelsen ved upload -->
        <httpRuntime maxRequestLength="600000" />

    </system.web>

    <!-- system.webserver-->
    <system.webServer>

        <!-- 1. Default document -->
        <defaultDocument>
            <files>
                <clear />
                <add value="forside.aspx" />
                <add value="index.html"/>
            </files>
        </defaultDocument>

        <!-- 2. Directory listning -->
        <directoryBrowse enabled="true" />

    </system.webServer>

    <!-- 4. Redirect a folder -->
    <location path="minebilleder">
        <system.webServer>
            <httpRedirect enabled="true" destination="myPictures" httpResponseStatus="Permanent" />
        </system.webServer>
    </location>


</configuration>
